@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  header .container {
    padding-bottom: 0;
  }
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  nav ul li {
    margin-right: 10px;
  }
  nav ul li a {
    padding: 3px;
  }
  .top-page {
    grid-template-columns: repeat(1, 1fr);
  }
  .half-right img {
    width: 80%;
    margin-top: 20px;
  }
  .top-page {
    grid-template-columns: repeat(1, 1fr);
  }
  .top-page .half-left {
    width: 100%;
  }
  .half-left h1 {
    font-size: 32px;
    font-weight: 700;
  }
  .half-left p {
    font-weight: 400;
    line-height: 16px;
    margin: 16px 0;
  }
  .half-right img {
    width: 80%;
  }
  .companies {
    grid-template-columns: repeat(3, 1fr);
  }
  .company {
    width: 100%;
  }
  .companies:nth-last-child() {
    grid-column: 1 / span 3;
    text-align: center;
  }
  .cards,
  .popular,
  .orders {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .newsletter {
    flex-direction: column;
    transform: scale(0.8);
  }
  .newsletter h1 {
    font-size: 20px;
  }
}
/* ---------------------
ipad view/ tablet view 
-----------------------*/
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .cards,
  .popular,
  .orders {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  nav ul li a {
    font-size: 16px;

    padding: 5px 15px;
  }
  .half-left h1 {
    font-size: 40px;
  }
  .half-right img {
    width: 80%;
  }
  .companies {
    grid-template-columns: repeat(4, 1fr);
  }
}
