/*============
 fonts
 =============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

/*============
 common
 =============*/
:root {
  --primary-color: #3a3a3a;
  --btn-color: #e02c6d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
}
.btn {
  width: 196px;
  height: 44px;
  background: var(--btn-color);
  border-radius: 41px;
  text-align: center;
  padding-top: 8px;
  color: #fff;
  transition: 0.3s all ease-in;
}
.btn:hover {
  background-color: white;
  color: var(--btn-color);
  border: 3px solid var(--btn-color);
}

/*============
Header section
 =============*/
nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 10px;
  transition: 0.3s all ease-in;
}
nav ul li:hover {
  opacity: 0.5;
}
nav ul li i {
  transition: 0.3s all ease;
}
nav ul li i:hover {
  transform: scale(1.2);
  opacity: 1;
}
nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px 25px;
}
/*============
main section
 =============*/
.top-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.half-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.half-left h1 {
  font-size: 52px;
  font-weight: 700;
}
.half-left p {
  font-weight: 400;
  line-height: 24px;
  margin: 16px 0;
}
.half-right img {
  animation: cam 2s 0.5s infinite forwards;
}
@keyframes cam {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
/*============
popular section
 =============*/
.popular > h1 {
  font-size: 28px;
  text-align: center;
  margin: 30px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: center;
}
.card {
  width: 330px;
  height: 475px;
  padding: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 5, 0.2);
}
.card img {
  transition: 0.3s all ease;
  overflow: hidden;
}
img:hover {
  transform: scale(1.1);
}
.card-title {
  font-weight: 500;
  font-size: 28px;
  font-size: 24px;
}
.card .fas {
  color: gold;
}
.card small {
  color: #787885;
}
.left-btn {
  text-align: right;
  position: relative;
  right: 25px;
  top: 15px;
}
.left-btn a:hover {
  background-color: var(--btn-color);
  color: white;
}
.left-btn a {
  color: var(--btn-color);
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s all ease;
  padding: 10px 20px;
}

/*============
order policy  section
 =============*/
.order-details {
  margin: 40px auto;
}
.order-details h1 {
  text-align: center;
  margin-bottom: 30px;
}
.orders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
}
.order {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 200px;
  background-color: #e02c6e1a;
  border-radius: 10px;
  padding: 30px;
}
.order h2 {
  font-size: 20px;
  font-weight: 600;
}
.order .fas {
  color: #e02c6edc;
  font-size: 24px;
}
/*============
footer section
 =============*/
footer {
  background-color: #0a0826;
  color: white;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer h1 {
  font-size: 24px;
}
footer small {
  font-size: 12px;
}
footer div {
  padding-top: 16px;
}
footer div a {
  margin-right: 16px;
  color: white;
  padding: 7.5px;
  border-radius: 50%;
  background-color: #22213c;
  transition: 0.3s all ease;
}
footer div a:hover {
  background-color: white;
  color: black;
}
footer div a i {
  font-size: 16px;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}
.newsletter h1 {
  margin-right: 1em;
  color: white;
}
.newsletter input[type="email"] {
  padding: 10px 30px;
  outline: 0;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.newsletter input[type="submit"] {
  padding: 10px 30px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  outline: 0;
  border: none;
  background-color: var(--btn-color);
  color: white;
  transition: 0.3s all;
}
.newsletter input[type="submit"]:hover {
  background-color: #22213c;
}
